#!/bin/bash

docker exec -it gitlab_gitlab-runner_1 gitlab-runner register  \
--url https://{{ YOUR_VM_IP }}.sslip.io/ \
--non-interactive \
--locked=false \
--name DockerRunner \
--executor docker \
--docker-image docker:stable \
--docker-privileged \
--env YA_REGISTRY={{ YA_REGISTRY }} \
--registration-token {{ gitlab_initial_shared_runners_registration_token }} \
--tag-list "linux,xenial,ubuntu,docker" \
--run-untagged
